
header{
  border-bottom:solid 2px #cccccc;
  height: 100px;
}

.headings{
  background-color: #4aaaa5;
  float: left;
  margin-left: 30px;
}

.navList{
  display: inline-flex;
  list-style: none;
  float: right;
}

.navList a {
  padding: 10px;
  text-decoration: none;
}
